html , 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
 padding: 0 2%;
}
/*INDEX.HTML*/
@media screen and (min-width: 992px) {
    #dropdownProfile{
        position: relative;
    }
    #dropdownProfile ul{
        position: absolute;
        left: -105px;
    }
}
.carousel-item img{
    opacity: 50%;
}
.carousel-item img:hover{
    opacity: 100%;
    transform: scale(1.05);
    overflow: visible;
}

footer i:hover{
    cursor:pointer;
    color: #939fa8;
}
footer li a{
    text-decoration: none;
    color:#6C757D;
}
footer li a:hover,footer li a:visited{
    text-decoration: underline;
   
}
/* PROFILE.HTML*/
#profileTitle{
    font-size :5rem;
    font-weight: 400;
}
#profilePicture span{
    position:absolute ;
    top:5px;
    left: 15px; 
    width: 25px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
#profilePicture span:hover{
    background-color: #939fa8;
}